In [2]:
print("hello \nworld")

hello
world

In [5]:
a = 10

In [6]:
type(a)

int

In [7]:
print(2 - 5 * 9 + 6 / 4)

-41.5

In [13]:
num1 = 10
num2 = 6
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

16
4
60
1.6666666666666667
1
4
1000000

In [14]:
num = 9
num += 1
print(num)
num

10

10

In [17]:
num = 20.5
print(num)
print(type(num))

20.5
<class 'float'>

In [28]:
num = 3 + 4j
print(num)
print(type(num))
print(num2)

(3+4j)
<class 'complex'>
6

In [43]:
#print(10 < 11)
#print(True and False)
#print(True or False)
a = 5
b = 5
print(b!=a)

False

In [49]:
s = "    My name avinash i am printing this message     "
print(s)
print(s.rstrip())
print(s.lstrip())

    My name avinash i am printing this message
    My name avinash i am printing this message
My name avinash i am printing this message

In [51]:
m = "+++++++ankuwfliuwgwn==========" 
print(m.lstrip("+").rstrip("="))

ankuwfliuwgwn

In [69]:
m = "afhbefkhbesfk"
print(m[-4:-2])

es

In [63]:
n="1234576857577543"
print(n[0::2])

13565574

In [74]:
a = "Hello , "
b = "My name is Avinash"
c = "23"
print("hello vro \n{0}\nWhat's your name? \n{1}\nWhats your age \n{2} ".format(a,b,c))

hello vro
Hello ,
What's your name?
My name is Avinash
Whats your age
23