In [1]:
import numpy  as np
import pandas as pd

In [37]:
load_df = pd.read_csv("C:/Users/avina/Desktop/diamonds.csv")

In [4]:
load_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
load_df[0::].head()

    carat      cut color clarity  depth  table  price     x     y     z
0    0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
4    0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
8    0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
16   0.30    Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68

In [9]:
for i in range([0::40]):
    print(i)

SyntaxError: invalid syntax (<ipython-input-9-3b828309f829>, line 1)

In [10]:
load_amt = load_df.carat
load_amt.head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [11]:
load_amt = load_df['carat']
load_amt.head()

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
Name: carat, dtype: float64

In [13]:
load_df[['carat']].head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [14]:
load_df[['carat','cut']].head()

   carat      cut
0   0.23    Ideal
1   0.21  Premium
2   0.23     Good
3   0.29  Premium
4   0.31     Good

In [24]:
load_df.iloc[6]

carat           0.24
cut        Very Good
color              I
clarity         VVS1
depth           62.3
table             57
price            336
x               3.95
y               3.98
z               2.47
Name: 6, dtype: object

In [19]:
#primery key
load_df.set_index('count').head()

KeyError: "None of ['count'] are in the columns"

In [28]:
load_df.loc[4]

carat      0.31
cut        Good
color         J
clarity     SI2
depth      63.3
table        58
price       335
x          4.34
y          4.35
z          2.75
Name: 4, dtype: object

In [29]:
load_df.loc[1:5]

   carat        cut color clarity  depth  table  price     x     y     z
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [32]:
m_df = load_df
#m_df.set_index('col name', inplace = True)
#modify the original file
m_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [40]:
load_df.loc[[29,31],'cut':'x']

          cut color clarity  depth  table  price     x
29  Very Good     F     VS1   60.9   57.0    357  3.96
31  Very Good     F     VS1   59.8   57.0    402  4.04

# df.iloc

In [41]:
load_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [59]:
load_df.iloc[1:4,1:4]

       cut color clarity
1  Premium     E     SI1
2     Good     E     VS1
3  Premium     I     VS2

In [62]:
load_df.iloc[[5,7,98]]

    carat        cut color clarity  depth  table  price     x     y     z
5    0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7    0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
98   0.73  Very Good     E     SI1   61.6   59.0   2760  5.77  5.78  3.56

# subsetting

In [67]:
load_df['carat'] > 0.25

0        False
1        False
2        False
3         True
4         True
         ...
53935     True
53936     True
53937     True
53938     True
53939     True
Name: carat, Length: 53940, dtype: bool

In [68]:
"""
load_df[] 
and 
&  
or 
| 
== 
!=
"""

'\nload_df[] \nand \n&  \nor \n| \n== \n!=\n'